# **Python Modules**

There are two types of python modules:

1. Buit-in modules
2. User-defined modules

## **Built-in modules:**

- math

- date

- os

- sys

In [1]:
import math
cos90 = math.cos(90)
sin0 = math.sin(0)
tan45 = math.tan(45)
pie = math.pi
print("Value of cos90 is:", cos90)
print("Value of sin0 is:", sin0)
print("Value of tan45 is:",tan45)
print("Value of pie is:",pie)

Value of cos90 is: -0.4480736161291701
Value of sin0 is: 0.0
Value of tan45 is: 1.6197751905438615
Value of pie is: 3.141592653589793

In [2]:
from math import e, tau
print("The value of tau is:",tau)
print("euler's number is:",e)

The value of tau is: 6.283185307179586
euler's number is: 2.718281828459045

In [3]:
from math import sqrt,factorial,pi
print(sqrt(100))
print(factorial(5))
print(pi)

10.0
120
3.141592653589793

In [5]:
import math
x = math.ceil(5.7) #rounds a number upwards to its nearest integer.
y = math.floor(5.7) #rounds a number downwards to its nearest integer
print(x)
print(y)

6
5

In [6]:
#return the power fucntion (x^y)
import math
x = pow(4,3)
print("4 to the power of 3:",x)

4 to the power of 3: 64

In [7]:
import math
x = min(5,10,25)
y = max(5,10,25)

print("Minimum value in x:",x)
print("Maximum value in y:",y)

Minimum value in x: 5
Maximum value in y: 25

In [3]:
#abs() returns the absolute (positive) value of the specified number
import math
x = abs(-49.25)
print(x)

49.25

# **Date & Time**

In [2]:
import datetime
now = datetime.datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)

2025-06-05 19:42:15.718952
2025
6
5

In [4]:
import time
print(time.time())

1749141785.9900208

In [5]:
#print current time
import time
print(time.ctime())

Thu Jun  5 19:43:27 2025

In [13]:
#sleep() function inside time module is used to delay execution of current time thread by the given number of seconds.
import time
time.sleep(10)
print(time.ctime())

Tue Jan  2 21:09:49 2024

In [6]:
#To get the output of local time in struct_time format, use the localtime() function.
import time
print(time.localtime(1704229704.6241024)) #use the above tym format

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=3, tm_hour=0, tm_min=8, tm_sec=24, tm_wday=2, tm_yday=3, tm_isdst=0)

In [16]:
#To get the output of Coordinated Universal Time in struct_time format, use the gmtime() function.
import time
print(time.gmtime(1704229704.6241024))

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=2, tm_hour=21, tm_min=8, tm_sec=24, tm_wday=1, tm_yday=2, tm_isdst=0)

In [18]:
#in order to reverse the data into time
import time
local_time = (2024,1,2,21,8,24,1,2,0)
print(time.mktime(local_time))

1704229704.0

In [21]:
#printing in single string
import time
local_time = (2024,1,2,21,8,24,1,2,0)
print(time.asctime(local_time))

Tue Jan  2 21:08:24 2024

In [26]:
#converting string based into struct_time format
import time
local_time = "2 january, 2024"
print(time.strptime(local_time, "%d %B, %Y"))

time.struct_time(tm_year=2024, tm_mon=1, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=2, tm_isdst=-1)

In [29]:
#calendar
import calendar
print(calendar.month(2024,1))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

## **OS**

In [1]:
import os
import getpass

print(os.getcwd())
print(getpass.getuser())

/home/vosti/pythonTutorial/Day-05-Python-Modules
vosti

## **sys**

In [7]:
import sys
print(sys.version)
print(sys.argv)

3.10.12 (main, Feb  4 2025, 14:57:36) [GCC 11.4.0]
['/home/vosti/.local/lib/python3.10/site-packages/ipykernel_launcher.py', '--f=/home/vosti/.local/share/jupyter/runtime/kernel-v31fc8f2a4d7b56b14aca14c76f349731afd5ec1a0.json']

## **JSON**

In [10]:
#using json module
import json

data = {
    "name": "ASESMA",
    "age": 15,
    "state": "Ghana"
}

json_data = json.dumps(data)
print(json_data)

{"name": "ASESMA", "age": 15, "state": "Ghana"}

## **Random**

In [12]:
#using the radom module
import random
print(random.randint(1,100))
print(random.choice([1,2,3,4,5]))

62
4

# **User-Defined modules in Python**

It is created by the user to simplify their project.these modules can contain functions, classes,variables, and other code that you can reuse across multiple scripts.

In [39]:
import math

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition:",num1+num2)
print("Subtraction",num1-num2)
print("Multiplication",num1*num2)
print("Division",num1/num2)

Enter first number:8
Enter second number:12
Addition: 20
Subtraction -4
Multiplication 96
Division 0.6666666666666666

In [41]:
Number = 564
def AddNumber():
  global Number
  Number = Number + 200
print("The number is :",Number)

AddNumber()
print("The number is:",Number)

The number is : 564
The number is: 764