# **Python Lists**

List items are ordered, changeable and allow duplicate values. They hold diiferent data types(int, str, float) inside square brackets.

In [1]:
fruits = ["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

- `len` tells us the length of the list.

- `type` tells us the data type.

In [2]:
print(len(fruits))
print(type(fruits))

3
<class 'list'>

### List item selection and slicing

In [3]:
fruits = ["apple", "banana", "cherry", "passion", "pineapple"]

print(fruits[-1]) # select final item in a list
print(fruits[1:4]) # select list items from index 1 to index 4 (but excluding item at index 4)
print(fruits[1:]) # select all items from index 1 to the end of the list

pineapple
['banana', 'cherry', 'passion']
['banana', 'cherry', 'passion', 'pineapple']

In [4]:
if "apple" in fruits:
  print("yes,'apple' is in the fruits list")

yes,'apple' is in the fruits list

# **Add List Items**

- ` append() ` 

- ` insert() `

- ` extend() `

In [4]:
#inserting "watermelon" as the third item:
fruits.insert(2,"watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'passion', 'pineapple']

In [5]:
#append we add the items
fruits.append("orange")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'passion', 'pineapple', 'orange']

In [7]:
# Add the elements of tropical to this list:
fruits = ["apple","banana","cherry"]
fruits2 = ["mango","dragon fruit","papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'dragon fruit', 'papaya']

# **Remove List Items**

- ` remove() `: it removes the specified item.

- ` pop() `: it removes the specified index.

- ` del `: it removes the specified index and it can also delete the list completely.

- ` clear() `: List remains, but has no content empties the list.

In [10]:
fruits = ["apple", "banana", "cherry", "banana", "kiwi"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana', 'kiwi']

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [10]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
print(fruits)

['banana', 'cherry']

In [13]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

# **Sort List**

- ` sort() `: To sort descending, use the keyword argument `reverse = True`

- ` reverse() `: This method reverses the current sorting order of the elements.

In [12]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort() # Sorts list alphabetically
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [14]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse() # only reverses index of items in a list
print(fruits)

['cherry', 'Kiwi', 'Orange', 'banana']

# **Join Two Lists**

- using + operator
- Append list2 into list1: use the extend() method to add list2 at the end of list1.

In [17]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [18]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [19]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# **Copy Lists**

In [20]:
fruits = ["apple", "banana", "cherry"]
Newlist = fruits.copy()
print(Newlist)

['apple', 'banana', 'cherry']

In [21]:
fruits = ["apple", "banana", "cherry"]
Newlist = list(fruits)
print(Newlist)

['apple', 'banana', 'cherry']